.emotionItem {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.emotionItem_on_1 {
  color: #fff;
  background-color: rgb(100, 201, 100);
}
.emotionItem_on_2 {
  color: #fff;
  background-color: rgb(157, 215, 114);
}
.emotionItem_on_3 {
  color: #fff;
  background-color: rgb(253, 206, 23);
}
.emotionItem_on_4 {
  color: #fff;
  background-color: rgb(253, 132, 70);
}
.emotionItem_on_5 {
  color: #fff;
  background-color: rgb(253, 86, 95);
}

.emotionItem .emotion_img {
  width: 50%;
  margin-bottom: 10px;
}
